.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 130px 0px 0px 0px;
}
/* heading */
.pheadone {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.pheadtwo {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.slider {
  overflow: hidden;
  margin-top: 20px;
}
/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  height: 10rem;
}
.portfolio img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
