@font-face {
  font-family: 'Gumela';
  src: url('./fonts/Gumela-Regular.eot');
  src: url('./fonts/Gumela-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Gumela-Regular.svg#Gumela-Regular') format('svg'),
       url('./fonts/Gumela-Regular.ttf') format('truetype'),
       url('./fonts/Gumela-Regular.woff') format('woff'),
       url('./fonts/Gumela-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Gumela', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'sans-serif';
}
